---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: aiinsights.
spec:
  group: ""
  names:
    kind: AIInsight
    listKind: AIInsightList
    plural: aiinsights
    singular: aiinsight
  scope: Namespaced
  versions:
  - name: ""
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              anomalies:
                items:
                  type: string
                type: array
              podName:
                type: string
              recommendations:
                items:
                  type: string
                type: array
              summary:
                type: string
            required:
            - anomalies
            - podName
            - recommendations
            - summary
            type: object
          status:
            properties:
              createdAt:
                format: date-time
                type: string
            required:
            - createdAt
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
